<div>
    {{#if user_profile}}
        <form method="POST" action="/query">
            <p>Name: {{user_profile.name}}</p>
            <p>Email: {{user_profile.email}}</p>

            <p>Preferred Genres</p>
            {{#if user_profile.interest.genre.length}}
                <ul>
                    {{#each user_profile.interest.genre}}
                        <li><input type="checkbox" name="genre{{@index}}" value="{{this}}"><label for="genre{{@index}}">{{this}}</label></li>
                    {{/each}}
                </ul>
            {{else}}
                NO PREFERRED GENRES
            {{/if}}
            
            <p>Preferred Movie Countries</p>
            {{#if user_profile.interest.country.length}}
                <ul>
                    {{#each user_profile.interest.country}}
                        <li><input type="radio" value="{{this}}" name="radio">{{this}}</li>
                    {{/each}}
                </ul>
            {{else}}
                NO PREFERRED COUNTRY
            {{/if}}
            <input type="submit" value="Search">
        </form>


        <p>Preferred Actors</p>
        {{#if user_profile.interest.actor.length}}
            <ul>
                {{#each user_profile.interest.actor}}
                    <li><a href ="/actor">{{this}}</a></li>
                {{/each}}
            </ul>
        {{else}}
            NO PREFERRED ACTORS
        {{/if}}


    {{else}}
        UNABLE TO READ FOAF PROPERLY
    {{/if}}
</div>